<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGrwxK1wnh4oxHp6eqhMZQnjNhNHQ18-M</string>
	<key>GCM_SENDER_ID</key>
	<string>703538302380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hasan.TheMovieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapptest-d0acf</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapptest-d0acf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703538302380:ios:8d47333be62bb265ef7e09</string>
</dict>
</plist>